<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Include Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="/css/style.css">
    <title>Movies</title>
</head>
<body>
    <div class="container mt-3">
        <div class="row">
            <!-- Nav Column -->
            <div class="col-md-3">
                <%- include("nav") %>
            </div>
            <!-- Main Content Column -->
            <div class="col-md-9">
                <main>
                    <!-- Search Form -->
                    <form action="/" method="get" class="mb-3">
                        <div class="form-row">
                            <div class="col">
                                <input type="text" name="search" class="form-control" placeholder="Search...">
                            </div>
                            <div class="col">
                                <button type="submit" class="btn btn-primary">Search</button>
                            </div>
                        </div>
                    </form>
                    
                    <!-- Movie Table -->
                    <div class="table-responsive">
                        <table class="table table-striped">
                            <thead class="thead-dark">
                                <tr>
                                    <% for (let field of sortFields) { %>
                                        <th scope="col">
                                            <a href="?sortField=<%= field.value %>&sortDirection=<%= field.value === sortField ? sortDirection === 'asc' ? 'desc' : 'asc' : 'asc' %>&search=<%= search %>">
                                                <%= field.text %>
                                                <% if (field.value === sortField) { %>
                                                    <%- sortDirection === 'asc' ? '▲' : '▼' %>
                                                <% } %>
                                            </a>
                                        </th>
                                    <% } %>
                                </tr>
                            </thead>
                            <tbody>
                                <% for (let film of films) { %>
                                    <tr>
                                        <td>
                                            <div class="d-flex align-items-center">
                                                <div class="mr-2">
                                                    <img src=<%- film.image_url %> alt="Icon" class="rounded-circle" style="width: 40px; height: 40px;">
                                                </div>
                                                <div><a href="/movies/<%= film.title %>"><%= film.title %></a></div>
                                            </div>
                                        </td>
                                        <td><%- film.release_date %></td>
                                        <td><%- film.director.name %></td>
                                        <td><%- film.genre %></td>
                                        <td>
                                            <% if (film.is_downloadable) { %>
                                                <div class="text-center">
                                                    <div class="rounded-circle bg-success" style="width: 20px; height: 20px;"></div>
                                                </div>
                                            <% } else { %>
                                                <div class="text-center">
                                                    <div class="rounded-circle bg-danger" style="width: 20px; height: 20px;"></div>
                                                </div>
                                            <% } %>
                                        </td>
                                    </tr>
                                <% } %>
                            </tbody>
                        </table>
                    </div>
                </main>
            </div>
        </div>
    </div>
</body>
</html>
